{% extends "users/header.html" %}

 {% block body %}
</div>
<style>
  .custom-alert {
    position: fixed;
    display: none;
    top: 111px;
    left: 10px;
    width: max-content;
    z-index: 9999;
  }

  .custom-alert-border {
    width: 100%;
    height: 7px;
    background-color: #d67bff;
    transition: width 1.3s linear; /* Transition the width property */
  }

  .animate__animated.animate__lightSpeedInLeft {
    --animate-duration: 0.3s;
  }
</style>
<div
id="alert"
class="alert custom-alert fw-bold p-0 animate__animated animate__lightSpeedInLeft"
style="border: 0px"
>
<p
  class="p-2"
  id="alerttext"
  style="color: #053b50; padding-left: 2px; margin-bottom: 4px"
></p>
<div class="custom-alert-border"></div>
</div>
  <section class="container contact-section">
    <div class="row justify-content-center">
      <div class="col-lg-4   p-4 usersidebar activelinks"  style="border-radius:11px" >
        <h2 class="text-center mb-4 fw-bold">Contact Us</h2>
        <p class="text-center ">Have any questions or suggestions? Feel free to get in touch with us.</p>
        <!-- Contact Form -->
        <form class="contact-form" id="contactusform" >
          {% csrf_token %}
          <div class="form-group">
            <label for="fullName ">Full Name:</label>
            <input type="text" class="form-control sidebar border " name="name" id="fullName"  >
          </div>
          <div class="form-group">
            <label for="email">Email Address:</label>
            <input type="email" class="form-control sidebar border " name="email" id="email"  >
          </div>
          <div class="form-group">  
            <label for="message">Message:</label>
            <textarea class="form-control sidebar border" id="message" name="message" rows="5"  ></textarea>
          </div>
          <button type="submit" class="btn btn-success">Submit</button>
        </form>
      </div>
    </div>
  </section>
  {% endblock body %}
 
