{% extends "dashboard/header.html" %}
{% block body %}

<button type="button" class="btn btn-primary" style="height:3rem" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch Library
  </button>
  
  <!-- Modal -->
  
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        <div class="row" style="grid-row-gap:17px;">
                {% for dd in data %}
                <div class="col-md-6 ms-auto " >
                    <img class="w-100" src="/media/{{ dd.thumbnail }}" alt="">
                </div>
                {% endfor %}
        </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
  {% endblock body %}